.article {
  padding: var(--space-32);
  max-width: 560px;
  margin-inline: auto;
}

.headlineArea {
  margin-block-end: var(--space-32);
}

.article h1 {
  font-size: 2.75rem;
  line-height: 1.1;
  text-align: center;
  padding-block: var(--space-16);
}

.body {
  text-align: justify;
  hyphens: auto;
  line-height: 1.7;
  margin-block-end: var(--space-16);
}
