DATABASE_URL="file:./data.db?connection_limit=1"
SESSION_SECRET="super-duper-s3cret"

PRISMA_FIELD_ENCRYPTION_KEY="also-super-duper-secret"

PLAID_CLIENT_ID=client-id-from-plaid
PLAID_SECRET=secret-from-plaid

PLAID_ENV=sandbox
APP_URL=https://net-worth-tracker-3c5c-staging.fly.dev/

RESEND_API_KEY=re_your_api_key_here
FROM_EMAIL=noreply@yourdomain.com
