node_modules
.react-router/

/build
/public/build
.env
.env.production
.env.sentry-build-plugin

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal
/prisma/test-data.db
/prisma/test-data.db-journal

/info_arch.md

*storybook.log
storybook-static

/tests/.auth
/playwright-report
/test-results
