node_modules
.react-router/

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal
/prisma/test-data.db
/prisma/test-data.db-journal

/info_arch.md
# Sentry Config File
.env.sentry-build-plugin
