.link {
  color: var(--color-slate-12);
  display: block;
  padding: var(--space-12);
  text-decoration: none;

  &:visited {
    color: var(--color-slate-12);
  }

  &[class*="active"] {
    border-block-end: 2px solid var(--color-sand-12);
    font-weight: bold;
    padding-block-end: calc(var(--space-12) - 2px);
  }
}
