.link {
  color: var(--color-slate-12);
  display: block;
  padding: var(--space-12);
  text-decoration: none;

  &:visited {
    color: var(--color-slate-12);
  }

  &[class*="active"] {
    border-radius: 12px;
    color: var(--color-red-9);
    font-weight: bold;
  }
}
