@font-face {
  font-family: "Chomsky";
  src: url("/fonts/Chomsky.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/fonts/LibreBaskerville.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/fonts/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/SourceSerif4.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/SourceSerif4-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  background-color: var(--color-sand-3);
  color: var(--color-sand-12);
  font-family: "Source Serif 4";
  margin: 0;
}

main {
  flex-grow: 1;
  padding: var(--space-32);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville";
}

.site-title-link {
  color: var(--color-sand-12);
  text-decoration: none;

  &:visited {
    color: var(--color-sand-12);
  }

  & .site-title {
    color: var(--color-sand-12);
    font-family: Chomsky;
    font-size: 3.5rem;
    margin-block-end: var(--space-12);
    margin-block-start: var(--space-12);
  }
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: var(--space-16);
  padding-inline: var(--space-32);

  & li {
    list-style-type: none;
  }

  & h1 a {
    padding: 0;
  }
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 16px;

  & li {
    display: block;
  }
}
