body {
  margin: 0;
}

.nav {
  align-items: center;
  background-color: var(--color-blue-4);
  display: flex;
  justify-content: space-between;
  padding-block: var(--space-16);
  padding-inline: var(--space-32);

  & li {
    list-style-type: none;
  }
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 16px;

  & li {
    display: block;
  }
}
