.default {
  background-color: var(--color-sand-12);
  border: none;
  flex-shrink: 0;
  height: 1px;
  opacity: 70%;
}

.light {
  background-color: var(--color-sand-8);
  border: none;
  height: 1px;
  margin: 0;
}

.heavy {
  background-color: var(--color-sand-12);
  border: none;
  flex-shrink: 0;
  height: 3px;
  margin: 0;
  opacity: 100%;
}
